<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Журнал
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button expand="block" (click)="openTransactionModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Журнал</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let transaction of databaseService.transactions; index as position; trackBy: trackTransactions" (click)="openTransactionModal(transaction)">
      <ion-label>{{ transaction.type === 1 ? '' : '-' }}{{ transaction.sum }} "{{ transaction.name }}" - {{ transaction.date.toISOString() }} </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
