<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Отмена</ion-button>
    </ion-buttons>
    <ion-title>Добавить транзакцию</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Ок</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-datetime-button datetime="datetime" ></ion-datetime-button>
  <ion-segment [(ngModel)]="transactionType" [swipeGesture]="false" >
    <ion-segment-button value="out">
      <ion-label>Расход</ion-label>
    </ion-segment-button>
    <ion-segment-button value="in">
      <ion-label>Доход</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item>
    <ion-input
      label="Наименование"
      labelPlacement="stacked"
      type="text"
      placeholder=""
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Сумма"
      labelPlacement="stacked"
      type="number"
      placeholder=""
      [(ngModel)]="sum"
    ></ion-input>
  </ion-item>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime 
      id="datetime" 
      locale="ru-RU" 
      [(ngModel)]="date" 
      [showDefaultButtons]="false"
      [firstDayOfWeek]="1"
      [showDefaultButtons]="true"
      cancelText="Отмена"
      doneText="Ок"
    ></ion-datetime>
  </ng-template>
</ion-modal>